<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Planning Poker - {{ board.name }}</title>
</head>
<body>
<h1>Planning Poker</h1>
<h3>{{ board.name }}</h3>
<table>
    <tr>
        <td width="15%">
            <h5>Tasks</h5>
            <ul>
                {% for task in tasks %}
                <li class="{{ task.get_classes() }}">{{ task.name }}</li>
                {% endfor %}
            </ul>
            <form>
                <div>
                    <input type="button" value="Add task">
                </div>
                <div>
                    <input type="button" value="Open active voting">
                </div>
            </form>
        </td>
        <td width="70%">
            <h3>[ID] Task name</h3>
            <div>
                <p>
                    Desciption:
                    <em>
                        This is a task description. The task will be very hard to do and you may die on the quest.
                    </em>
                </p>
            </div>
            <div>
                <button>
                    Ready to vote!
                </button>
                <button>
                    Start voting!
                </button>
            </div>
            <div>
                <button>0</button>
                <button>0.5</button>
                <button>1</button>
                <button>2</button>
                <button>3</button>
                <button>5</button>
                <button>8</button>
                <button>13</button>
                <button>20</button>
                <button>40</button>
                <button>100</button>
                <button>Coffee</button>
                <button>???</button>
            </div>
            <div>
                <p>
                    <span>Current task is not open for votes, 0/5 participants are ready to vote on the task</span>
                    <span>Task # is under voting now</span>

                </p>
            </div>
        </td>
        <td width="15%">
            <h5>Participants</h5>
            <ul>
                {% for player in players %}
                <li class="{{ player.get_classes() }}">
                    {{ player.name }}
                </li>
                {% endfor %}
            </ul>
        </td>
    </tr>
</table>
</body>
</html>