<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Planning Poker - {{ board.name }}</title>
</head>
<body id="{{ board.url }}">
<h1>Planning Poker</h1>
<h3>{{ board.name }}</h3>
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="/static/main.js"></script>

<table>
    <tr>
        <td width="15%">
            <h5>Tasks</h5>
            <ul>
                {% for task in tasks %}
                <li class="{{ task.get_classes() }}">{{ task.name }}</li>
                {% endfor %}
            </ul>
            <form>
                <div>
                    <form>
                        <div>
                            New task
                            <p>
                                <label for="task_name">
                                    Name
                                </label>
                                <input type="text" name="name" id="task_name">
                            </p>
                            <p>
                                <label for="task_desc">
                                    Description
                                </label>
                                <textarea name="description" id="task_desc"></textarea>
                            </p>
                            <button>Add task</button>
                        </div>
                    </form>
                    <input type="button" value="Add task">
                </div>
                <div>
                    <input type="button" value="Open active voting">
                </div>
            </form>
        </td>
        <td width="70%">
            <h3>No tasks on the board...</h3>
            <div>
                <p>
                    Desciption:
                    <em>
                        Consider adding a new task...
                    </em>
                </p>
            </div>
            <div>
                <button>
                    Ready to vote!
                </button>
                <button>
                    Start voting!
                </button>
            </div>
            <div>
                {% for e in estimates %}
                <button value="{{ e.value }}">{{ e.label }}</button>
                {% endfor %}
            </div>
            <div>
                <p>
                    <span>Current task is not open for votes, 0/5 participants are ready to vote on the task</span>
                    <span>Task # is under voting now</span>

                </p>
            </div>
        </td>
        <td width="15%">
            <h5>Participants</h5>
            <ul>
                {% for player in players %}
                <li class="{{ player.get_classes() }}">
                    {{ player.name }}
                </li>
                {% endfor %}
            </ul>
        </td>
    </tr>
</table>
</body>
</html>