#poker {
    width:1000px;
    margin:0px auto
}

#new-board {
    margin-top:10px;
}
.form-column {
    float:left;
    width:50%;

}

.form-column-content {
    box-sizing:border-box;
    float:left;
    padding:0px 5px;
    width:100%
}

.cleared {
    clear:both
}

.margin20 {
    margin-top:20px;
}